# Build & IDE
bin/
obj/
**/bin/
**/obj/
.vs/
.idea/
*.user
*.suo
*.csproj.user
*.DotSettings.user
src/**/*.http
*.http

docker/.env
docker/secrets/

docker/env/*.env           

!docker/env/*.example.*

src/**/appsettings.json
src/**/appsettings.*.json
!src/**/appsettings*.example.json

packages/
*.nupkg
*.snupkg
*.symbols.nupkg
*.log
.DS_Store
Thumbs.db