# Postgres
POSTGRES_DB=authdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# App Connection String
ConnectionStrings__AuthServiceDbContext=Host=shoplinker-postgres-auth;Port=5432;Database=authdb;Username=postgres;Password=postgres

# JWT
Jwt__Key=a-string-secret-at-least-256-bits-long
Jwt__Issuer=AuthService
Jwt__Audience=AuthClients

# Service URL
AuthService__Url=http://shoplinker-authservice:8080

# Redis
Redis__Host=shoplinker-redis:6379

# Elasticsearch
Elastic__Host=http://shoplinker-elasticsearch:9200

# RabbitMQ
RabbitMQ__Host=shoplinker-rabbitmq
