AuthService__Url=http://shoplinker-authservice:8080
ShopLinkerService__Url=http://shoplinker-shoplinkerservice:8080

# JWT
Jwt__Key=a-string-secret-at-least-256-bits-long
Jwt__Issuer=AuthService
Jwt__Audience=AuthClients