# Postgres
POSTGRES_DB=shoplinkerdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# App Connection String
ConnectionStrings__ShopLinkerDbContext=Host=shoplinker-postgres-shop;Port=5432;Database=shoplinkerdb;Username=postgres;Password=postgres

# Service URL
ShopLinkerService__Url=http://shoplinker-shoplinkerservice:8080

# Redis
Redis__Host=shoplinker-redis:6379

# Elasticsearch
Elastic__Host=http://shoplinker-elasticsearch:9200

# RabbitMQ
RabbitMQ__Host=shoplinker-rabbitmq
